tmp.node-red
[{"id":"e7d26b69.4038c8","type":"exec","z":"950f4627.0c7498","command":"python3.7 $HOME/PlanktonScope/scripts/focus.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":490,"y":160,"wires":[[],[],[]]},{"id":"3a139c37.d7ba34","type":"ui_form","z":"950f4627.0c7498","name":"","label":"","group":"","order":1,"width":0,"height":0,"options":[{"label":"nb_step","value":"nb_step","type":"number","required":true,"rows":null},{"label":"orientation","value":"orientation","type":"text","required":true,"rows":null}],"formValue":{"nb_step":"","orientation":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":240,"wires":[["81229f90.cee22"]]},{"id":"7319255e.3e60ac","type":"debug","z":"950f4627.0c7498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":220,"wires":[]},{"id":"81229f90.cee22","type":"function","z":"950f4627.0c7498","name":"","func":"var nb_step = String(msg.payload.nb_step);\nvar orientation = String(msg.payload.orientation);\nmsg.payload = nb_step.concat(' ', orientation);\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":160,"wires":[["7319255e.3e60ac","e7d26b69.4038c8"]]}]
