flows/flows.json
[
    {
        "id": "7f885510.6173fc",
        "type": "tab",
        "label": "Home",
        "disabled": false,
        "info": ""
    },
    {
        "id": "55a31f5b.d4ec5",
        "type": "tab",
        "label": "Static Observation",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c04dcc2a.47862",
        "type": "tab",
        "label": "Fluidic Acquisition",
        "disabled": false,
        "info": ""
    },
    {
        "id": "300f077.33624f8",
        "type": "tab",
        "label": "Segmentation",
        "disabled": false,
        "info": ""
    },
    {
        "id": "121f01ae.4c4abe",
        "type": "tab",
        "label": "Dashboard Control",
        "disabled": false,
        "info": ""
    },
    {
        "id": "56d9742b.9ed99c",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c18fae15.516ce",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "29a78fc9.b034c",
        "type": "ui_group",
        "z": "",
        "name": "Static Observation",
        "tab": "c18fae15.516ce",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "10d36e29.c78b42",
        "type": "ui_group",
        "z": "",
        "name": "Fluidic Acquisition",
        "tab": "c18fae15.516ce",
        "order": 2,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "8c1b4542.a177a8",
        "type": "ui_group",
        "z": "",
        "name": "Segmentation",
        "tab": "c18fae15.516ce",
        "order": 3,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "edb89598.853498",
        "type": "ui_group",
        "z": "",
        "name": "Gallery",
        "tab": "c18fae15.516ce",
        "order": 4,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "98e9fd1a.1bbe5",
        "type": "ui_tab",
        "z": "",
        "name": "Static Observation",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2e62c9a8.c191f6",
        "type": "ui_tab",
        "z": "",
        "name": "Fluidic Acquisition",
        "icon": "",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "609b39b5.d91f28",
        "type": "ui_tab",
        "z": "",
        "name": "Segmentation",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b253b89c.1c4458",
        "type": "ui_tab",
        "z": "",
        "name": "Dashboard Control",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "498d73e3.d1c94c",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "98e9fd1a.1bbe5",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "72fe0cc7.df9fd4",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "2e62c9a8.c191f6",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "54c8e6e0.223fc8",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "609b39b5.d91f28",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "5841eafd.95e5e4",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "b253b89c.1c4458",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "df3ac001.1d82a",
        "type": "ui_button",
        "z": "7f885510.6173fc",
        "name": "",
        "group": "29a78fc9.b034c",
        "order": 1,
        "width": 12,
        "height": 6,
        "passthru": false,
        "label": "Static Observation",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "Static Observation",
        "x": 210,
        "y": 260,
        "wires": [
            [
                "82696634.821678"
            ]
        ]
    },
    {
        "id": "113ae8d3.b52867",
        "type": "ui_button",
        "z": "7f885510.6173fc",
        "name": "",
        "group": "8c1b4542.a177a8",
        "order": 1,
        "width": 12,
        "height": 6,
        "passthru": false,
        "label": "Segmentation",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "Segmentation",
        "x": 220,
        "y": 300,
        "wires": [
            [
                "82696634.821678"
            ]
        ]
    },
    {
        "id": "ec028844.198c98",
        "type": "ui_button",
        "z": "7f885510.6173fc",
        "name": "",
        "group": "10d36e29.c78b42",
        "order": 1,
        "width": 12,
        "height": 6,
        "passthru": false,
        "label": "Fluidic Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "Fluidic Acquisition",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "82696634.821678"
            ]
        ]
    },
    {
        "id": "47a9f575.dc2c8c",
        "type": "ui_button",
        "z": "7f885510.6173fc",
        "name": "",
        "group": "edb89598.853498",
        "order": 1,
        "width": 12,
        "height": 6,
        "passthru": false,
        "label": "Dashboard Control",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "Dashboard Control",
        "x": 270,
        "y": 380,
        "wires": [
            [
                "82696634.821678"
            ]
        ]
    },
    {
        "id": "c0f2a501.1677c8",
        "type": "ui_ui_control",
        "z": "7f885510.6173fc",
        "name": "",
        "events": "change",
        "x": 540,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "c52be0d9.e6412",
        "type": "ui_button",
        "z": "55a31f5b.d4ec5",
        "name": "",
        "group": "498d73e3.d1c94c",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Home",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "Home",
        "x": 70,
        "y": 40,
        "wires": [
            [
                "66e609a2.2d57d8"
            ]
        ]
    },
    {
        "id": "82696634.821678",
        "type": "function",
        "z": "7f885510.6173fc",
        "name": "swtich tab",
        "func": "\nmsg.payload={\"tab\":msg.topic};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 260,
        "wires": [
            [
                "c0f2a501.1677c8"
            ]
        ]
    },
    {
        "id": "8059df68.0963c",
        "type": "ui_ui_control",
        "z": "55a31f5b.d4ec5",
        "name": "",
        "events": "change",
        "x": 380,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "66e609a2.2d57d8",
        "type": "function",
        "z": "55a31f5b.d4ec5",
        "name": "change tab",
        "func": "\nmsg.payload={\"tab\":msg.topic};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 220,
        "y": 40,
        "wires": [
            [
                "8059df68.0963c"
            ]
        ]
    },
    {
        "id": "f8c2a4c7.928f88",
        "type": "ui_button",
        "z": "c04dcc2a.47862",
        "name": "",
        "group": "72fe0cc7.df9fd4",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Home",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "Home",
        "x": 70,
        "y": 40,
        "wires": [
            [
                "6715b713.0ea1e8"
            ]
        ]
    },
    {
        "id": "16edbf14.c67bb1",
        "type": "ui_ui_control",
        "z": "c04dcc2a.47862",
        "name": "",
        "events": "change",
        "x": 380,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "6715b713.0ea1e8",
        "type": "function",
        "z": "c04dcc2a.47862",
        "name": "change tab",
        "func": "\nmsg.payload={\"tab\":msg.topic};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 220,
        "y": 40,
        "wires": [
            [
                "16edbf14.c67bb1"
            ]
        ]
    },
    {
        "id": "e46b58fd.671568",
        "type": "ui_button",
        "z": "300f077.33624f8",
        "name": "",
        "group": "54c8e6e0.223fc8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Home",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "Home",
        "x": 70,
        "y": 40,
        "wires": [
            [
                "5c885d69.f82f74"
            ]
        ]
    },
    {
        "id": "c492a6c.3ff6558",
        "type": "ui_ui_control",
        "z": "300f077.33624f8",
        "name": "",
        "events": "change",
        "x": 380,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "5c885d69.f82f74",
        "type": "function",
        "z": "300f077.33624f8",
        "name": "change tab",
        "func": "\nmsg.payload={\"tab\":msg.topic};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 220,
        "y": 40,
        "wires": [
            [
                "c492a6c.3ff6558"
            ]
        ]
    },
    {
        "id": "cb7440f4.3efff",
        "type": "ui_button",
        "z": "121f01ae.4c4abe",
        "name": "",
        "group": "5841eafd.95e5e4",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Home",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "Home",
        "x": 70,
        "y": 40,
        "wires": [
            [
                "b0b1ec9.5371e1"
            ]
        ]
    },
    {
        "id": "a4505700.60eb18",
        "type": "ui_ui_control",
        "z": "121f01ae.4c4abe",
        "name": "",
        "events": "change",
        "x": 380,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "b0b1ec9.5371e1",
        "type": "function",
        "z": "121f01ae.4c4abe",
        "name": "change tab",
        "func": "\nmsg.payload={\"tab\":msg.topic};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 220,
        "y": 40,
        "wires": [
            [
                "a4505700.60eb18"
            ]
        ]
    }
]
